<div class="container">
  <h2>Login to continue service</h2>
  <form action="">
    <div>{{ loginerror }}</div>
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" #username placeholder="Enter Username" />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" #password placeholder="Enter Password" />
    </div>
    <button type="button" class="btn btn-primary" (click)="validation(username.value, password.value)" >Submit</button>
  </form>
</div>